// Dark Theme
$primary-bg: #2f2f2e;
$primary-color: #f89d26;
$black-color: #000;
$white-color: #ffffff;
$bg-added: #6f6f6d;
$bg-custom: #566590;
$shy-moment: #a29bfe;
$pink-moment: #f9dbe7;

// Light Theme => COMING SOON
