#about {
  position: relative;
  overflow: hidden;

  .about__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-added;
    z-index: -1;
    clip-path: ellipse(110% 60% at 0% 0%);
  }

  .grid--custom {
    width: 85%;

    .about__content {
      background-color: $primary-bg;
      border-radius: 10px;
      padding: 80px;
      box-shadow: 0px 0px 15px -5px $primary-bg;

      .section__title {
        margin-bottom: 100px;
      }

      &__img {
        width: 60%;
        height: 80%;
        margin: auto;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -5px $black-color;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: -20px;
          top: -20px;
          border-top: 8px solid $white-color;
          border-left: 8px solid $bg-added;
          height: 50%;
          width: 50%;
        }

        &::after {
          content: "";
          position: absolute;
          right: -20px;
          bottom: -20px;
          width: 50%;
          height: 50%;
          border-right: 8px solid $bg-added;
          border-bottom: 8px solid $white-color;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      &__info {
        &__list {
          li {
            margin: 0px 0px 50px;
            display: flex;
            align-items: center;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $bg-added;
            }

            .field__name {
              background-color: $bg-added;
              display: flex;
              align-items: center;
              margin-right: 50px;
              padding: 0.5rem 1.2rem;
              min-width: 120px;
              i {
                display: inline-block;
                font-size: 1.8rem;
                color: $white-color;
                margin-right: 8px;
              }

              span {
                display: block;
                font-size: 1.6rem;
                color: $white-color;
              }
            }

            p {
              font-size: 1.8rem;
              color: $white-color;
            }
          }

          li:last-child {
            margin-bottom: 0;
          }
        }

        &__icon__link {
          display: flex;
          align-items: center;
          margin-top: 50px;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1.8rem;
            width: 46px;
            height: 46px;
            background-color: transparent;
            color: $white-color;
            margin-right: 30px;
            border-radius: 50%;
            border: 1px solid $white-color;
            transition: all 0.5s;

            &:hover {
              background-color: $bg-added;
              color: $white-color;
              border-color: $bg-added;
            }
            i {
              display: block;
              font-size: 2rem;
              line-height: 0;
            }
          }
        }
      }
    }
  }
}
