#back__to__top {
  position: fixed;
  right: 50px;
  bottom: 30px;
  padding: 10px;
  background-color: $bg-added;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  border: 2px solid $white-color;

  i {
    display: block;
    font-size: 2.2rem;
    color: $white-color;
    line-height: 0;
  }
}
