#back__to__top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  background: $primary-color;
  border-radius: 100rem;
  cursor: pointer;
  z-index: 999;
  border: 2px solid $white-color;

  > svg {
    path {
      stroke: $white-color;
    }
  }
}
