#menu-fixed {
  position: fixed;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  transition: transform 0.2s ease-in;

  .menu-fixed-item {
    display: flex;
    align-items: center;
    margin: 16px 0px 16px 8px;

    > span {
      font-size: 1.5rem;
      min-width: 7rem;
      color: #009b7c;
    }

    &-icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      background: #2f2f2e;
      border-radius: 4px;
      box-shadow: 0 0 5px 0 rgba($color: #2f2f2f, $alpha: 0.7);
      cursor: pointer;

      > svg {
        width: 18px;
        height: 18px;
        transition: transform 0.2s ease-in;

        path {
          stroke: white;
        }

        &:hover {
          transform: scale(1.2);
          path {
            stroke: #f89d26;
          }

          + span {
            opacity: 1;
          }
        }
      }

      span {
        font-size: 1.2rem;
        position: absolute;
        left: calc(100% + 10px);
        padding: 10px 12px;
        background: $primary-color;
        border-radius: 4px;
        opacity: 0;
        transition: opacity 0.2s ease-in;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 100%;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 8px solid transparent;
          border-right: 10px solid $primary-color;
        }
      }

      &.active {
        > svg path {
          stroke: #f89d26;
        }
      }
    }
  }

  .btn-hidden-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    z-index: 999;

    > button {
      position: relative;
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      box-shadow: none;
      outline: none;
      cursor: pointer;
      padding: 0;

      .icon-show-menu {
        transform: rotate(180deg);
        path {
          stroke: #f89d26;
        }
      }

      .icon-show-menu-ghost {
        position: absolute;
        transform: rotate(180deg);
        animation: ghost 1.5s ease-in infinite;
        path {
          stroke: #f89d26;
        }
      }
    }

    @keyframes ghost {
      from {
        left: 0;
        opacity: 1;
      }

      to {
        left: -10px;
        opacity: 0;
      }
    }
  }

  &.hidden {
    transform: translate(-100%, -50%);
    transition: transform 0.2s ease-in;

    .btn-hidden-menu {
      > button {
        .icon-show-menu,
        .icon-show-menu-ghost {
          transform: rotate(0deg);
        }

        .icon-show-menu-ghost {
          animation: ghostMenuHidden 1.5s ease-in infinite;
        }
      }
    }

    @keyframes ghostMenuHidden {
      from {
        left: 0px;
        opacity: 1;
      }

      to {
        left: 10px;
        opacity: 0;
      }
    }
  }
}
