#skills {
  background-color: $primary-bg;
  position: relative;
  z-index: 10;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 100px;
    left: 0;
    background-image: url("../assets/img/SVG/bg_decor.svg");
    background-repeat: no-repeat;
    width: 35%;
    height: 25%;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }

  .section__title {
    margin-bottom: 100px;

    &--border {
      color: $white-color;
    }
  }

  .knowledge__skills {
    &__list {
      transition: all 0.5s;
      &:hover {
        > li {
          transform: scale(0.9);
        }

        > li > .list__item > span {
          opacity: 0;
          visibility: hidden;
          transform: scale(0);
        }
      }

      li {
        margin: 0px 0 50px;
        background-color: $white-color;
        border: 2px solid $bg-added;
        padding: 15px 30px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        cursor: default;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          filter: unset;
          background-color: $primary-bg;
          border-color: transparent;

          > .field__name {
            color: $white-color;

            &::before {
              background-color: $bg-added;
            }
          }

          > .list__item > span {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }
        .field__name {
          display: block;
          font-size: 1.8rem;
          font-weight: 600;
          color: $black-color;
          margin-right: 50px;
          position: relative;
          margin-left: 10px;
          min-width: 200px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $black-color;
          }
        }

        .list__item {
          span {
            font-size: 1.6rem;
            display: inline-block;
            padding: 0.8rem 1.6rem;
            border: 1px solid $white-color;
            background-color: $bg-added;
            border-radius: 20px;
            margin-right: 20px;
            color: $white-color;
            transition: all 0.5s;
          }

          span:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .skills__decor__bg {
    position: absolute;
    top: 0%;
    right: 0;
    width: 25%;
    z-index: -1;
    &__img {
      width: 100%;
      height: 100%;
      color: $white-color;
    }
  }
}
