$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?d31cd6ec5856553fe71cb495f3947d54") format("truetype"),
url("./flaticon.woff?d31cd6ec5856553fe71cb495f3947d54") format("woff"),
url("./flaticon.woff2?d31cd6ec5856553fe71cb495f3947d54") format("woff2"),
url("./flaticon.eot?d31cd6ec5856553fe71cb495f3947d54#iefix") format("embedded-opentype"),
url("./flaticon.svg?d31cd6ec5856553fe71cb495f3947d54#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "share": "\f101",
    "menu": "\f102",
    "direct-download": "\f103",
    "github": "\f104",
    "facebook-app-symbol": "\f105",
    "linkedin": "\f106",
    "user": "\f107",
    "pin": "\f108",
    "email": "\f109",
    "call": "\f10a",
    "up-arrow-angle": "\f10b",
);

.flaticon-share:before {
    content: map-get($flaticon-map, "share");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-direct-download:before {
    content: map-get($flaticon-map, "direct-download");
}
.flaticon-github:before {
    content: map-get($flaticon-map, "github");
}
.flaticon-facebook-app-symbol:before {
    content: map-get($flaticon-map, "facebook-app-symbol");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-up-arrow-angle:before {
    content: map-get($flaticon-map, "up-arrow-angle");
}
