@import "./reset";
@import "./base";
@import "./variables";
@import "./mixins";

#nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10001;

  .nav__content__wrap {
    background: transparent;

    .nav__content {
      display: flex;
      padding: 12px;

      &__icon {
        display: flex;
        margin-left: auto;
        position: relative;
        z-index: 10001;

        &__btn {
          position: relative;
          border: none;
          outline: none;
          box-shadow: unset;
          background-color: unset;
          cursor: pointer;
          padding: 0;
          background-color: $bg-added;
          border-radius: 50%;
          border: 2px solid $white-color;
          width: 50px;
          height: 50px;

          i {
            display: block;
            color: $white-color;
            line-height: 0;
            font-size: 2.8rem;
            font-weight: bold;
          }
        }

        &__menu {
          position: absolute;
          top: 100%;
          right: 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.8s;
          overflow: hidden;

          li {
            margin: -24px 0;
            transition: all 0.5s;
            a {
              display: block;
              text-align: center;
              text-decoration: none;
              font-size: 1.4rem;
              padding: 0.5rem 2rem;
              color: $white-color;
              background-color: $bg-added;
              border: 2px solid $white-color;
              border-radius: 15px;
              transition: all 0.5s;

              &:hover {
                background-color: $bg-custom;
                border-color: $bg-custom;
              }
            }

            a.active {
              background-color: $bg-custom;
              border-color: $bg-custom;
            }
          }

          li:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__icon__mobile {
        display: flex;
        margin-left: auto;
        position: relative;
        z-index: 10001;
        display: none;

        &__btn {
          position: relative;
          border: none;
          outline: none;
          box-shadow: unset;
          background-color: unset;
          cursor: pointer;
          padding: 0;
          background-color: $bg-added;
          border-radius: 50%;
          border: 1px solid $white-color;
          width: 50px;
          height: 50px;

          i {
            display: block;
            color: $white-color;
            line-height: 0;
            font-size: 2.8rem;
            font-weight: bold;
          }
        }

        &__sidebar {
          position: fixed;
          height: 100%;
          top: 0;
          width: 300px;
          right: 0;
          background-color: $primary-bg;
          background-image: url("../images/bg.svg");
          padding: 30px;
          z-index: 2;
          transition: all 0.5s;
          opacity: 0;
          transform: translateX(100%);

          .sidebar__list {
            margin-top: 50px;
            a {
              display: block;
              width: fit-content;
              text-decoration: none;
              font-size: 1.8rem;
              color: $white-color;
              padding: 1rem 1.2rem 1rem 0px;
              margin-bottom: 20px;
              transition: all 0.5s;

              &:hover {
                color: $bg-added;
                padding-left: 1rem;
              }
            }
          }

          .sidebar__contact {
            margin-top: 100px;
            h2 {
              font-size: 2rem;
              color: $bg-added;
              font-weight: 700;
              text-transform: uppercase;
              margin-bottom: 20px;
            }

            &__link {
              a {
                text-decoration: none;
                display: inline-block;
                border: 1px solid $white-color;
                color: $white-color;
                border-radius: 50%;
                padding: 1rem;
                margin-right: 15px;
                transition: all 0.5s;

                &:hover {
                  color: $white-color;
                  background-color: $bg-added;
                  border-color: $bg-added;
                }

                i {
                  display: block;
                  line-height: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }

          .sidebar__close {
            display: inline-block;
            position: absolute;
            top: 30px;
            left: 30px;
            outline: none;
            background-color: transparent;
            border: none;
            box-shadow: none;
            cursor: pointer;
            i {
              display: block;
              color: $white-color;
              font-size: 2rem;
              line-height: 0;
            }
          }

          .sidebar__close.activeExit {
            transform: translateX(0%);
            opacity: 1;
          }
        }

        &__sidebar.activeSb {
          transform: translateX(0%);
          opacity: 1;
        }

        &__overlay {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.6);
          z-index: 1;
          transition: all 0.5s;
          opacity: 0;
          visibility: hidden;
        }

        &__overlay.activeOl {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

#home {
  background-color: $primary-bg;
  position: relative;
  padding-top: 150px;
  height: 100vh;
  background-image: url("../assets/img/SVG/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  .home__info__overview {
    position: relative;
    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      color: $white-color;
      padding-bottom: 7rem;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 600;
      color: $white-color;
      line-height: 1.2;
      margin-bottom: 7rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      color: $white-color;
      letter-spacing: 1px;
      word-spacing: 2px;
      line-height: 1.8;
      margin-bottom: 7rem;
    }

    button {
      display: inline-block;
      border: none;
      background-color: $bg-added;
      outline: none;
      box-shadow: unset;
      cursor: pointer;
      border-radius: 20px;
      animation: topBottom linear 5s infinite;

      a {
        display: flex;
        align-items: center;
        color: $white-color;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0.8rem 1.7rem;
        font-weight: 600;

        i {
          display: inline-block;
          font-size: 2rem;
          line-height: 0;
          margin-right: 15px;
        }
      }
    }

    .box__shadow__info {
      position: absolute;
      left: 25px;
      top: 105%;
      display: inline-block;
      width: 75px;
      box-shadow: 0px 35px 16px 3px #610a2d;
    }
  }

  .home__info__link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    &__img {
      display: inline-block;
      width: 50%;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -5px $black-color;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: -20px;
        width: 50%;
        height: 50%;
        border-top: 8px solid $bg-added;
        border-right: 8px solid $bg-added;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -20px;
        width: 50%;
        height: 50%;
        border-bottom: 8px solid $bg-added;
        border-left: 8px solid $bg-added;
      }

      img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    &__share {
      display: flex;
      align-items: center;
      position: relative;

      &__btn {
        display: inline-block;
        border: none;
        outline: none;
        background-color: $bg-added;
        box-shadow: unset;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        position: relative;
        border: 1px solid $white-color;

        &:hover {
          .home__info__link__share__btn__list {
            top: 10px;
            left: 107px;
            transform: rotate(-45deg);
            opacity: 1;
            visibility: visible;
          }
        }

        i {
          display: block;
          line-height: 0;
          color: $white-color;
          font-size: 2.5rem;
        }

        &__list {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          top: 100%;
          left: 0;
          transform: rotate(0deg);
          opacity: 0;
          visibility: hidden;
          transition: all 0.5s;
          margin-top: 20px;
          li {
            margin-bottom: 20px;
            a {
              display: flex;
              text-align: center;
              text-decoration: none;
              padding: 12px;
              border: 1px solid $white-color;
              transition: all 0.5s;
              border-radius: 50%;
              background-color: transparent;
              transform: scale(0.9);
              position: relative;

              &:hover {
                transform: rotate(45deg);
                background: $bg-added;
                border-color: $bg-added;

                > i {
                  color: $white-color;
                }

                > span {
                  opacity: 1;
                  visibility: visible;
                }
              }

              i {
                font-size: 2rem;
                display: inline-block;
                line-height: 0;
                color: $white-color;
                transition: all 0.5s;
              }

              span {
                display: block;
                position: absolute;
                font-size: 1rem;
                padding: 0.4rem;
                width: 90px;
                right: 120%;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                border-radius: 15px;
                color: $white-color;
                opacity: 0;
                visibility: hidden;
                transition: all 0.5s;

                &:hover {
                  background-color: $bg-added;
                }

                &::before {
                  content: "";
                  position: absolute;
                  left: 100%;
                  top: 0;
                  height: 100%;
                  width: 20px;
                  background-color: transparent;
                }
              }
            }
          }
        }
      }

      &__text {
        display: inline-block;
        font-size: 1.8rem;
        margin-left: 90px;
        color: $white-color;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;

        &::before {
          content: "";
          position: absolute;
          right: calc(100% + 20px);
          top: 50%;
          width: 50px;
          height: 2px;
          background-color: $white-color;
        }
      }
    }
  }

  .mouse__space__decoration {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid $white-color;
    transform: scale(1);
    transition: all 0.5s;

    &:hover {
      transform: scale(1.2);
    }
    &--separate {
      position: absolute;
      height: 25px;
      border: 1px solid $white-color;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      line-height: 0;

      &::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 8px;
        height: 8px;
        background-color: $bg-added;
        border-radius: 50%;
        animation: mouseMove 4s 1s infinite;
      }
    }
  }
}

.home__spacing {
  padding: 100px 0;
}

#about {
  position: relative;
  overflow: hidden;

  .about__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-added;
    z-index: -1;
    clip-path: ellipse(110% 60% at 0% 0%);
  }

  .grid--custom {
    width: 85%;

    .about__content {
      background-color: $primary-bg;
      border-radius: 10px;
      padding: 80px;
      box-shadow: 0px 0px 15px -5px $primary-color;

      .section__title {
        margin-bottom: 100px;

        &--border {
          color: $white-color;
        }
      }
      &__img {
        width: 60%;
        height: 80%;
        margin: auto;
        background-color: transparent;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -5px $black-color;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: -20px;
          top: -20px;
          border-top: 8px solid $white-color;
          border-left: 8px solid $bg-added;
          height: 50%;
          width: 50%;
        }

        &::after {
          content: "";
          position: absolute;
          right: -20px;
          bottom: -20px;
          width: 50%;
          height: 50%;
          border-right: 8px solid $bg-added;
          border-bottom: 8px solid $white-color;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      &__info {
        &__list {
          li {
            margin: 0px 0px 50px;
            display: flex;
            align-items: center;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $bg-added;
            }

            .field__name {
              background-color: $bg-added;
              display: flex;
              align-items: center;
              margin-right: 50px;
              padding: 0.5rem 1.2rem;
              min-width: 120px;
              i {
                display: inline-block;
                font-size: 1.8rem;
                color: $white-color;
                margin-right: 8px;
              }

              span {
                display: block;
                font-size: 1.6rem;
                color: $white-color;
              }
            }

            p {
              font-size: 1.8rem;
              color: $white-color;
            }
          }

          li:last-child {
            margin-bottom: 0;
          }
        }

        &__icon__link {
          display: flex;
          align-items: center;
          margin-top: 50px;
          a {
            display: block;
            text-decoration: none;
            font-size: 1.8rem;
            padding: 12px;
            background-color: transparent;
            color: $white-color;
            margin-right: 30px;
            border-radius: 50%;
            border: 1px solid $white-color;
            transition: all 0.5s;

            &:hover {
              background-color: $bg-added;
              color: $white-color;
              border-color: $bg-added;
            }
            i {
              display: block;
              font-size: 2rem;
              line-height: 0;
            }
          }
        }
      }
    }
  }
}

#skills {
  background-color: $primary-bg;
  position: relative;
  z-index: 10;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 100px;
    left: 0;
    background-image: url("../assets/img/SVG/bg_decor.svg");
    background-repeat: no-repeat;
    width: 35%;
    height: 25%;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }

  .section__title {
    margin-bottom: 100px;

    &--border {
      color: $white-color;
    }
  }

  .knowledge__skills {
    &__list {
      transition: all 0.5s;
      &:hover {
        > li {
          transform: scale(0.9);
        }

        > li > .list__item > span {
          opacity: 0;
          visibility: hidden;
          transform: scale(0);
        }
      }

      li {
        margin: 0px 0 50px;
        background-color: $white-color;
        border: 2px solid $bg-added;
        padding: 15px 30px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        cursor: default;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          filter: unset;
          background-color: $primary-bg;
          border-color: transparent;

          > .field__name {
            color: $white-color;

            &::before {
              background-color: $bg-added;
            }
          }

          > .list__item > span {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }
        .field__name {
          display: block;
          font-size: 1.8rem;
          font-weight: 600;
          color: $black-color;
          margin-right: 50px;
          position: relative;
          margin-left: 10px;
          min-width: 200px;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -20px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $black-color;
          }
        }

        .list__item {
          span {
            font-size: 1.6rem;
            display: inline-block;
            padding: 0.8rem 1.6rem;
            border: 1px solid $white-color;
            background-color: $bg-added;
            border-radius: 20px;
            margin-right: 20px;
            color: $white-color;
            transition: all 0.5s;
          }

          span:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .skills__decor__bg {
    position: absolute;
    top: 0%;
    right: 0;
    width: 25%;
    z-index: -1;
    &__img {
      width: 100%;
      height: 100%;
      color: $white-color;
    }
  }
}

#resume {
  position: relative;
  overflow: hidden;

  .section__title {
    margin-bottom: 100px;
  }

  .resume__content {
    .resume__block {
      padding: 20px;
      border-radius: 5px;
      border: 2px dashed $bg-added;
      margin-bottom: 24px;
      transition: all 0.5s;

      &:hover {
        border: 2px solid $bg-added;
        box-shadow: 0px 1px 10px 1px $bg-added;
      }

      &__title {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        color: $primary-color;
        margin-bottom: 10px;
      }

      &__time {
        display: inline-block;
        color: dodgerblue;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      &__item {
        line-height: 1.5;
        margin-left: 15px;
        .field__name {
          font-size: 1.4rem;
          color: $black-color;
          font-weight: 600;
          word-spacing: 1px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $black-color;
          }
        }

        .field__value {
          font-size: 1.3rem;
          color: $bg-added;
          font-weight: unset !important;
        }
      }
    }
  }
}

#project {
  background-color: $primary-bg;
  overflow: hidden;

  .section__title {
    margin-bottom: 100px;

    &--border {
      color: $white-color;
    }
  }

  .project__content {
    position: relative;

    &__absolute--one {
      position: absolute;
      width: 200px;
      height: 200px;
      top: -80px;
      left: -80px;

      svg {
        width: 100%;
        height: 100%;
        color: $white-color;
      }
    }

    &__absolute--two {
      position: absolute;
      width: 200px;
      height: 200px;
      right: -80px;
      bottom: 25px;

      svg {
        width: 100%;
        height: 100%;
        color: $white-color;
      }
    }

    &__block__item {
      position: relative;
      background-color: $white-color;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 0px 9px -2px $primary-color;
      margin-bottom: 30px;
      z-index: 10;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-10px);
      }

      h4 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 20px;
      }

      span {
        display: inline-block;
        font-size: 1.5rem;
      }

      &__img {
        padding: 20px 0;
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          display: inline-block;
          font-size: 3rem;
        }

        a {
          display: inline-block;
          text-decoration: none;
          font-size: 1.8rem;
          color: $bg-added;
          transition: all 0.5s;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }

    &__btn {
      text-align: center;
      margin-top: 30px;
      &__link {
        font-size: 1.5rem;
        text-decoration: none;
        display: inline-block;
        padding: 1.4rem 4rem;
        background-color: $bg-added;
        color: $white-color;
        border-radius: 30px;
        box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.6);
        transition: all 0.25s;

        &:hover {
          transform: translateY(10px);
        }
      }
    }
  }
}

#contact {
  overflow: hidden;
  .section__title {
    color: $black-color;
    margin-bottom: 100px;
  }

  .contact__content {
    &__email {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      p {
        font-size: 3rem;
        color: $black-color;
        font-weight: 900;
        width: fit-content;
        letter-spacing: 1px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: $shy-moment;
          height: 12px;
          border-radius: 15px;
          z-index: -1;
        }
      }
    }

    &__socials {
      display: flex;
      justify-content: center;
      a {
        display: inline-block;
        text-decoration: none;
        padding: 15px;
        border-radius: 50%;
        border: 1px solid $bg-added;
        margin-right: 20px;
        transition: all 0.5s;

        &:hover {
          background-color: $bg-added;
          > i {
            color: $white-color;
          }
        }

        i {
          display: block;
          font-size: 1.5rem;
          line-height: 0;
          color: $bg-added;
          transition: all 0.5s;
        }
      }
    }
  }
}

#footer {
  background-color: $primary-bg;
  p {
    color: $white-color;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
  }
}

#back__to__top {
  position: fixed;
  right: 50px;
  bottom: 30px;
  padding: 10px;
  background-color: $bg-added;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  border: 2px solid $white-color;

  i {
    display: block;
    font-size: 2.2rem;
    color: $white-color;
    line-height: 0;
  }
}

// RESPONSIVE
@media (max-width: 1239px) {
  #nav {
    .nav__content__wrap {
      .nav__content {
        &__icon {
          display: none;
        }

        &__icon__mobile {
          display: block;
        }
      }
    }
  }

  #home {
    .home__info__overview {
      h2 {
        padding-bottom: 4rem;
      }

      h1 {
        margin-bottom: 4rem;
      }

      p {
        margin-bottom: 4rem;
      }
    }

    .home__info__link {
      padding-left: 0;
      align-items: center;

      &__img {
        width: 70%;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  #home {
    padding-top: 200px;
  }

  #about {
    .grid--custom {
      width: 95%;
      .about__content {
        padding: 45px 30px;

        &__info {
          &__list {
            li {
              .field__name {
                i {
                }
              }
            }

            p {
            }
          }

          &__icon__link {
            justify-content: center;
          }
        }
      }
    }
  }

  #skills {
    &::before {
      width: 50%;
      height: 20%;
      bottom: 70px;
    }

    .knowledge__skills {
      width: 85%;
      li {
        margin: 0px 0px 30px;
      }
    }
  }

  #resume {
    .section__title {
      margin-bottom: 50px;
    }

    .resume__content {
      .resume__block {
        &__title {
          font-size: 1.5rem;
        }

        &__item {
          .field__name {
            font-size: 1.3rem;
          }

          .field__value {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  #project {
    .section__title {
    }

    .project__content {
      &__absolute--one {
        left: 0;
      }

      &__absolute--two {
        right: 0;
      }

      &__block__item {
      }
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  #home {
    .home__info__overview {
      h2 {
        padding-bottom: 4rem;
      }

      h1 {
        margin-bottom: 4rem;
      }

      p {
        margin-bottom: 4rem;
      }
    }
  }

  #about {
    .grid--custom {
      width: 95%;
      .about__content {
        padding: 45px 30px;

        &__info {
          &__icon__link {
            justify-content: center;
          }
        }
      }
    }
  }

  #skills {
    &::before {
      width: 50%;
      height: 20%;
      bottom: 70px;
    }

    .section__title {
      margin-bottom: 50px;
    }

    .knowledge__skills {
      width: 85%;
      li {
        margin: 0px 0px 20px;
        padding: 5px 20px;
        .field__name {
          font-size: 1.2rem;
          min-width: 150px;
          margin-right: 0px;
          margin-left: 5px;

          &::before {
            width: 5px;
            height: 5px;
            left: -10px;
          }
        }

        .list__item {
          span {
            font-size: 1rem;
            margin-right: 5px;
            padding: 0.5rem 1.2rem;
          }
        }
      }
    }
  }

  #resume {
    .section__title {
      margin-bottom: 50px;
    }

    .resume__content {
      .resume__block {
        &__title {
          font-size: 2.3rem;
        }

        &__item {
          .field__name {
            font-size: 1.6rem;
          }

          .field__value {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  #contact {
    .section__title {
      margin-bottom: 40px;
    }

    .contact__content {
      &__email {
        padding-bottom: 50px;

        p {
          font-size: 2.5rem;

          &::before {
            height: 8px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 739px) {
  #nav {
    .nav__content__wrap {
      .nav__content {
        &__icon {
          display: none;
        }

        &__icon__mobile {
          display: block;
        }
      }
    }
  }

  #home {
    padding-top: 150px;
    height: auto;
    .home__info__overview {
      h2 {
        font-size: 1.8rem;
        padding-bottom: 3rem;
      }

      h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
      }

      p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
      }

      button {
        margin-bottom: 5rem;
      }

      .box__shadow__info {
        display: none;
      }
    }

    .mouse__space__decoration {
      display: none;
    }
  }

  .home__spacing {
    padding: 30px 0;
  }

  #about {
    .grid--custom {
      width: 95%;
      .about__content {
        padding: 30px 15px;

        .section__title {
          font-size: 3rem;
          margin-bottom: 60px;
        }

        &__info {
          &__list {
            li {
              margin-bottom: 20px;

              &::before {
                height: 1px;
              }
              .field__name {
                min-width: 100px;
                margin-right: 10px;
                i {
                  font-size: 1rem;
                }

                span {
                  font-size: 1.2rem;
                }
              }

              p {
                font-size: 1.2rem;
                letter-spacing: 0.5px;
              }
            }
          }

          &__icon__link {
            margin-top: 30px;
            justify-content: center;
            a {
              margin-right: 20px;
              padding: 10px;
              i {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  #skills {
    &::before {
      height: 15%;
      bottom: 40px;
    }

    .section__title {
      font-size: 3rem;
      margin-bottom: 40px;
    }

    .knowledge__skills {
      width: 85%;
      li {
        margin: 0px 0px 20px;
        padding: 5px 20px;

        &:hover {
          .field__name {
            display: none;
          }

          .list__item {
            display: block;
          }
        }

        .field__name {
          font-size: 1rem;
          min-width: 150px;
          margin-right: 0px;
          margin-left: 5px;

          &::before {
            width: 3px;
            height: 3px;
            left: -10px;
          }
        }

        .list__item {
          display: none;
          span {
            font-size: 0.8rem;
            margin-right: 3px;
            padding: 0.5rem 1rem;
          }
        }
      }
    }
  }

  #resume {
    .section__title {
      font-size: 3rem;
      margin-bottom: 40px;
    }
    .resume__content {
      padding: 0 12px;

      .resume__block {
        &__title {
          font-size: 1.8rem;
        }
      }
    }
  }

  #project {
    .section__title {
      font-size: 3rem;
      margin-bottom: 40px;
    }

    .project__content {
      padding: 0 12px;

      &__absolute--one {
        width: 80px;
        height: 80px;
        left: 0;
        top: -10px;
      }

      &__absolute--two {
        width: 80px;
        height: 80px;
        right: 0;
        bottom: 45px;
      }

      &__block__item {
        transform: scale(0.9);
        margin-bottom: 0;

        &:hover {
          transform: scale(1);
        }
      }

      &__btn {
        margin-top: 15px;

        &__link {
          padding: 1.2rem 3rem;
        }
      }
    }
  }

  #contact {
    .section__title {
      font-size: 3rem;
      margin-bottom: 40px;
    }

    .contact__content {
      padding: 0 12px;
      &__email {
        padding-bottom: 30px;

        p {
          font-size: 2rem;

          &::before {
            height: 8px;
          }
        }
      }

      &__socials {
        padding-bottom: 30px;
        a {
          margin: 0 10px;
        }
      }
    }
  }

  #back__to__top {
    right: 50%;
    transform: translateX(50%);
    bottom: 40px;
    i {
      font-size: 1.8rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  #about {
    .grid--custom {
      .about__content {
        &__info {
          &__list {
            li {
              .field__name {
                i {
                  margin-right: 2px;
                }
                min-width: 70px;
                margin-right: 5px;
                padding: 0.2rem 1rem;

                span {
                  font-size: 1rem;
                }
              }

              p {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }

  #contact {
    .section__title {
      font-size: 2.5rem;
      word-spacing: 2px;
    }
  }
}
